* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(211, 216, 219, 0.341);
  /* background: url("/public/pictures/front-left-side-47.jpg"); */
  /* width: 100%; */
  /* background-image: url("/public/pictures/tata-harrier-side.webp"); */
}
.header {
  padding-bottom: 10px;
  text-align: center;
  color: rgb(73, 148, 210);
}
.imgPage {
  width: 40%;
}
.link {
  color: black;
}
.addcar {
  background-color: rgb(6, 190, 246);
  color: bluck;
  border: 2px black solid;
  width: 18%;
  text-align: center;
  margin: 15px;
  padding: 20px;
}

.FooterWrapper {
  background-color: #333;
  padding: 2.5rem;
}
.FooterContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2.5rem;
  margin-top: 1.5rem;
}
.FooterTitle {
  font-size: 1.4rem;
  font-weight: 450;
  color: rgb(5, 141, 252);
}
.FooterLinkTitle {
  color: rgb(73, 148, 210);
  font-size: 1.4rem;
  font-weight: 450;
}

.FooterLinks {
  margin-top: 1rem;
}
.FooterLink {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
}
.SocialLinks {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
svg {
  fill: #fff;
  font-size: 1.2rem;
  transition: 0.3s;
}
