* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(211, 216, 219, 0.341);
}
.header {
  padding-bottom: 10px;
  text-align: center;
  color: rgb(73, 148, 210);
}
.imgPage {
  width: 40%;
}
.imgOver {
  width: 100%;
  height: auto;
  padding: 0;
}
.link {
  color: black;
}
.addcar {
  background-color: rgb(73, 148, 210);
  color: bluck;
  border: 2px black solid;
  width: 18%;
  text-align: center;
  margin: 10px;
  padding: 50px;
}
.plus {
  font-size: xx-large;
}

.FooterWrapper {
  background-color: #333;
  padding: 1.5rem;
}
.FooterContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.3rem;
  margin-top: 0.7rem;
}
.FooterTitle {
  font-size: 1.6rem;
  font-weight: 450;
  color: rgb(5, 141, 252);
}
.FooterLinkTitle {
  color: rgb(73, 148, 210);
  font-size: 1.4rem;
  font-weight: 450;
}

.FooterLinks {
  margin-top: 1rem;
}
.FooterLink {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
}
.SocialLinks {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
.FooterCopyRight {
  text-align: center;
  color: #fff;
}
svg {
  fill: #fff;
  font-size: 1.2rem;
  transition: 0.3s;
}
